body {
  font-family: 'Open Sans';
  background: rgb(160, 209, 193);
}
h1 {
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 5em;
}
h2 {
  color: #070633;
  font-weight: 300;
  padding-bottom: 20px;
}
.navbar {
  margin-bottom: 0;
}
.splash {
  min-height:600px;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/dawn-nature-sunset-woman.jpg') no-repeat fixed;
  background-position: 0 -200px;
  background-size: cover;
  text-align: right;
  padding-top: 50px;
  padding-right: 5%;
}

.splash p {
  color: #fff;
  font-size: 1.2em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-item {
  flex-grow: 1;
  display:inline-flex;
  width:20%;
}

.section {
  padding: 40px;
  text-align: center;
}
.pricing {
  background: rgb(140, 65, 119);
}

@media screen and (max-width: 600px) {
  .splash {
    min-height:400px;
    padding-top:0px;
  }
}
