body {
  font-family: 'Open Sans';
  background: rgb(160, 209, 193);
}

h1 {
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 5em;
}

h2 {
  color:#070633;
  font-weight:300;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 0;
}

.splash {
  min-height: 600px;
  background:linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('img/dawn-nature-sunset-woman.jpg') no-repeat fixed;
  background-position: 0 -200px;
  background-size: cover;
  text-align:center;
  padding-top:50px;
}

.section {
  padding: 40px;
  text-align:center;
}

.pricing {
  background:rgb(140, 65, 119);
}
